.body{
    margin: 20px;
    @font-face {
        font-family: "Montserrat", "Bitter" ;

    }
}
.container{
    width: 1440px;
    margin-left: 200px;
}
.travelnav{
    margin-top: 50px;
}
.navitem{
    display: flex;
    gap: 50px;
    margin-top: -50px;
    margin-left: 500px;
    p{
        font-family: "Bitter";
        font-size: 15px;
        font-weight: 400;
        color: rgba(50, 46, 41, 1);
    }
}
.navitemicons{
    display: flex;
    gap: 50px;
    size: default;
}
.navitemsbtn{
    width: 91px;
    height: 40px;
    background-color:rgba(248, 243, 236, 1);
    border: none;
    border-radius: 12px;
    font-family: "Bitter";
    font-size: 14px;
    color: rgba(50, 46, 41, 1);
}
.irasm{
    background-image: url('alp.png');
    margin-top: 50px;
    position: relative;
    box-shadow: black;
    width: 1182px;
    height: 560px;
    h3{
        font-family: "Bitter";
        font-size: 36px;
        color: rgba(50, 46, 41, 1);
        width: 334px;
        height: 112px;
        padding-top: 200px;
        margin-left: 100px;
    }
    p{
      font-family: "Bitter";
      font-size: 18px;
      color: rgba(50, 46, 41, 1);
      width: 341px;
      height: 96px;
      margin-left: 100px;
      padding-top:  -50px;
    }
}
.irasmbtn{
    background-color: rgba(211, 165, 98, 1);
    border-radius: 12px;
    border: none;
    width: 127px;
    height: 40px;
    font-family: "Bitter";
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    margin-left: 100px;
}