.body{
    margin: 20px;
    @font-face {
        font-family: "Montserrat", "Bitter" ;

    }
}
.container{
    width: 1440px;
    margin-left: 350px;
}
.travelnav{
    margin-top: 50px;
}
.navitem{
    display: flex;
    gap: 50px;
    margin-top: -50px;
    margin-left: 500px;
    p{
        font-family: "Bitter";
        font-size: 15px;
        font-weight: 400;
        color: rgba(50, 46, 41, 1);
    }
}
.navitemicons{
    display: flex;
    gap: 50px;
    size: default;
}
.navitemsbtn{
    width: 91px;
    height: 40px;
    background-color:rgba(248, 243, 236, 1);
    border: none;
    border-radius: 12px;
    font-family: "Bitter";
    font-size: 14px;
    color: rgba(50, 46, 41, 1);
}
.irasm{
    background-image: url('alp.png');
    margin-top: 50px;
    position: relative;
    box-shadow: black;
    width: 1182px;
    height: 560px;
}
.temporary{
    font-family: "Bitter";
    font-size: 36px;
    color: rgba(50, 46, 41, 1);
    width: 299px;
    padding-top: 220px;
    margin-left: 100px;
}
.Lana{
    font-family: "Bitter";
      font-size: 18px;
      color: rgba(50, 46, 41, 1);
      width: 300px;
      margin-left: 100px;
      padding-top:  -100px;
}
.irasmbtn{
    background-color: rgba(211, 165, 98, 1);
    border-radius: 12px;
    border: none;
    width: 127px;
    height: 40px;
    font-family: "Bitter";
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    margin-left: 100px;
    margin-top: 10px;
}
.isearch{
    background-color: rgba(253, 251, 249, 1);
    width: 727px;
    height: 65px;
    border-radius: 32px;
    border-color: #D3A562;
    border-style: ridge;
    margin-left: 200px;
    margin-top: 100px;
}
.imggroup{
    position: absolute;
    margin-top: -10px;
    margin-left: -340px;
    
}
.search{
    font-family: "Bitter";
    font-size: 14px;
    color: rgba(136, 140, 148, 1);
    position: absolute;
    margin-top: -5px;
    margin-left: 50px;
}
.put{
    background-color: rgba(211, 165, 98, 1);
    border-radius: 12px;
    border: none;
    width: 95px;
    height: 40px;
    font-family: "Bitter";
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    margin-left: -120px;
    margin-top: 113px;
}